<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drink Master</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'BMSHome.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Unique.css' %}">
    <script type="text/javascript" src="{% static 'Js/Basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/CommonMethod.js' %}"></script>
       <script type="text/javascript" src="{% static 'Js/AjaxPost.js' %}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'Css/Jquery.css' %}">
    <script type="text/javascript" src="{% static 'Js/AutoComplete_1.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/AutoComplete_2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/MsgBox.css' %}">
    <script type="text/javascript" src="{% static 'Js/MsgBox.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/Btns.css' %}">
    <script type="text/javascript" src="{% static 'Js/DrinkMaster.js' %}"></script>
   <!-- <link rel="stylesheet" href="{% static 'Css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'Css/OldBoots.css' %}">
    <link rel="stylesheet" href="{% static 'Css/RegularStyle.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Layout.css' %}">
    <script type="text/javascript" src="{% static 'Js/Basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/CommonMethod.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/BMSHome.js' %}"></script>-->
</head>
<style>
   .Box{
    margin-left: 8%;
    background-color: #cbefcb;
    box-shadow: 1px 8px 10px black;
    width: 83%;
}
    .form-control {
    width: 161% !important;
    margin-top: 28px;
}
.Mtop{
 margin-top: 6%;
 font-weight:bold;
}

.table-responsive{
     margin-top: 50px;
}
thead{
  background-color:skyblue;
  text-align:center;
  font-weigt:bold;
}
tbody{
   background-color:#efeaea;
   text-align:center;
}
</style>
<body>
<div class="col-md-12 Box">
    <div class="col-md-12"><h1 style="text-align:center;color:forestgreen;">Drink Master</h1></div>
        <div class="col-md-12 hide" id="idToken"></div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="col-md-4 Mtop"><span>Drink Name</span></div>
                    <div class="col-md-8"><input type="text" id="idDrinkName" class="form-control"></div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 Mtop">Drink Quantity</div>
                    <div class="col-md-8"><input type="text" id="idDrinkQty" class="form-control clsNumber"></div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 Mtop">Drink UOM</div>
                    <div class="col-md-8"><input type="text" id="idDrinkUOM" class="form-control"></div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 Mtop">Drink Price</div>
                    <div class="col-md-8"><input type="text" id="idDrinkPrice" class="form-control clsNumber"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="text-align:center;">
                    <div class="col-md-3"></div>
                    <div class="col-md-3" style=""><button class="btn" id="btnSave"><i class="fa fa-save"> Save</i></button></div>
                    <div class="col-md-3" style=""><button class="btn" id="btnExit"><i class="fa fa-ban"> Exit</i></button></div>
                    <div class="col-md-3" style=""><button class="btn" id="btnDelete"><i class="fa fa-remove"> Delete</i></button></div>
                </div>
            </div>
        </div>
     <div>
       <table id="cloneThisRow" style="display:none">
          <tr id="MainRow_" class="CloneRow">
                <td><input type="text" id="Sl_No_" style="width: 101% !important;margin-top:0px;" class="form-control"></td>
                <td><input type="text" id="Drink_Name_" style="width: 101% !important;margin-top:0px;" class="form-control"></td>
                <td><input type="text" id="Drink_Qty_" style="width: 101% !important;margin-top:0px;" class="form-control"></td>
                <td><input type="text" id="Drink_UOM_" style="width: 101% !important;margin-top:0px;" class="form-control"></td>
                <td><input type="text" id="DrinkPrice_" style="width: 101% !important;margin-top:0px;" class="form-control"></td>
                <td><img id="Edit_" src=""></td>
                <td><img id="Delete_" src=""></td>
            </tr>
       </table>
    </div>
    <div class="col-md-12">
        <table id="tableDrinkMaster" class="table table-bordered no-footer dataTable  table-responsive hide" >
            <thead>
            <tr>
                <th>SL_No</th>
                <th>Drink Name</th>
                <th>Drink Quantity</th>
                <th>Drink UOM</th>
                <th>Drink Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="Tbody"></tbody>
        </table>
    </div>
    <div class="clearfix"></div><br><br><br><br><br><br>
        </div>
<!--    <div class="clearfix"></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
</body>
</html>