<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'BMSHome.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Unique.css' %}">
   <!-- <link rel="stylesheet" href="{% static 'Css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'Css/OldBoots.css' %}">
    <link rel="stylesheet" href="{% static 'Css/RegularStyle.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Layout.css' %}">
    <script type="text/javascript" src="{% static 'Js/Basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/CommonMethod.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/BMSHome.js' %}"></script>-->
</head>
<style>

</style>
<body>
<div class="Box">
        <div class="row" style="font-size:30px;">Monthly Report...</div>
    <div class="clearfix"></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>